body {
    font-family: Arial, sans-serif;
    background-image: url('https://fthmb.tqn.com/aQL9Kt7Yc3axeyDhogWYy8PrNGU=/2001x1501/filters:fill(auto,1)/blue-buddha-58befb9a5f9b58af5c998090.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(176, 224, 230, 0.8);
    padding: 20px;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #add8e6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #87cefa;
}

.night-mode {
    background-color: #2f4f4f;
    color: #f0f8ff;
}

.night-mode main {
    background-color: rgba(0, 0, 0, 0.8);
}

.night-mode header {
    background-color: rgba(47, 79, 79, 0.8);
}
